/*
 * Globals
 */
body {
  background: #fff;
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
p {
  text-indent: 2em;
}

/*
 * Main column and sidebar layout
 */
.blog-main {
  font-size: 16px;
  line-height: 1.5;
}
.blog-post {
  margin-bottom: 60px;
  color: #333;
}

/*
 * Footer
 */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #1098f7;
}
