body {
  background: #eeeeee;
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
p {
  text-indent: 2em;
}
.blog-main {
  font-size: 16px;
  line-height: 1.5;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-footer {
  padding: 40px 0;
  color: #eeeeee;
  text-align: center;
  background-color: #9dd7e1;
  border-top: 1px solid #1098f7;
}
